<script setup>
import { useI18n } from 'vue-i18n';
import AppTabs from '@/vue/components/AppTabs.vue';
import ReferenceContent from '@/vue/components/my/references/ReferenceContent.vue';
import ReferenceReadWith from '@/vue/components/my/references/ReferenceReadWith.vue';

defineProps({
  referenceId: { type: [String, Number], required: true },
  workId: { type: [String, Number], required: true },
});

const { t } = useI18n({ useScope: 'global' });

const tabs = [
  {
    id: 'detail',
    label: t('requirements.requirement_details'),
    icon: 'file-alt',
  },
  // {
  //   id: 'notes',
  //   label: t('requirements.summary.notes'),
  //   icon: 'sticky-note',
  // },
  {
    id: 'read-with',
    label: t('requirements.read_withs'),
    icon: 'object-union',
  },
];
</script>

<template>
  <AppTabs :tabs="tabs" :active="tabs[0].id">
    <template #default="{ active }">
      <KeepAlive>
        <ReferenceContent v-if="active === 'detail'" :reference-id="referenceId" :work-id="workId" />
      </KeepAlive>
        
      <KeepAlive>
        <ReferenceReadWith v-if="active === 'read-with'" :reference-id="referenceId" :work-id="workId" />
      </KeepAlive>
    </template>
  </AppTabs>
</template>
