<script setup>
import { inject, ref } from 'vue';
import DropDown from '@/vue/components/DropDown.vue';
import AppIcon from '@/vue/components/AppIcon.vue';
import { useTaskModel } from '@/vue/composables/my/actions/useTaskModel';
import InputElement from '@/vue/components/InputElement.vue';
import AppButton from '@/vue/components/AppButton.vue';

// getStatusLabel
const updateDataTableRow = inject('updateDataTableRow');
const emit = defineEmits(['change']);

const props = defineProps({
  row: { type: Object, required: true },
  rowIndex: { type: Number, default: null },
  field: { type: String, required: true },
  getBackgroundColour: { type: Function, default: null },
  getLabel: { type: Function, default: null },
});

const { updateField, loading } = useTaskModel();

const currentValue = ref(props.row[props.field]);
const inputValue = ref(props.row[props.field]);

function changeValue(selected) {
  updateField(props.row.id, props.field, selected)
    .then((changed) => {
      emit('change', changed[props.field]);
      currentValue.value = changed[props.field];

      if (props.rowIndex !== null) {
        updateDataTableRow(props.rowIndex, changed);
      }
    });
}
</script>

<template>
  <div class="flex justify-center">
    <DropDown @click.stop="">
      <template #trigger="{ toggle }">
        <div v-if="loading" class="whitespace-nowrap rounded-lg px-3 flex items-center" :class="getBackgroundColour ? getBackgroundColour(currentValue) : {}">
          . . .
        </div>
        <template v-else>
          <slot name="display" :toggle="toggle" :change-value="changeValue">
            <button class="rounded-lg px-3 flex items-center" :class="getBackgroundColour ? getBackgroundColour(currentValue) : {}" @click="toggle">
              <span class="whitespace-nowrap mr-3 text-sm font-medium">{{ getLabel ? getLabel(currentValue) : currentValue }}</span>
              <AppIcon name="chevron-down" size="3" />
            </button>
          </slot>
        </template>
      </template>

      <template #default="{ toggle }">
        <div>
          <div class="text-left bg-white py-2 flex flex-col max-h-[40vh] overflow-y-auto custom-scroll">
            <slot :toggle="toggle" :change-value="changeValue">
              <form action="#" @submit.prevent="() => { changeValue(inputValue); toggle()}">
                <InputElement v-model="inputValue" />

                <div class="flex justify-end">
                  <AppButton type="button">
                    Clear
                  </AppButton>
                  <AppButton type="submit">
                    Save
                  </AppButton>
                </div>
              </form>
            </slot>
          </div>
        </div>
      </template>
    </DropDown>
  </div>
</template>
