<script setup>
import RemoteSearch from '@/vue/pages/annotations/components/RemoteSearch.vue';
//
</script>

<template>
  <RemoteSearch :search-field="false" target="/tags/json" placeholder="Search Tags..." />
</template>
