<script setup>
import { computed } from 'vue';
import UserAvatar from '@/vue/components/my/users/UserAvatar.vue';

const props = defineProps({
  dimensions: { type: [String, Number], default: 8 },
  limit: { type: [String, Number], default: 3 },
  users: { type: Array, required: true },
});

const width = Number(props.dimensions) - 2;
const reminder = props.users.count - props.limit;
const usable = computed(() => [...props.users].splice(0, props.limit));
</script>

<template>
  <div class="flex items-center">
    <div v-for="user in usable" :key="user.id" :class="`w-${width}`">
      <UserAvatar :user="user" :dimensions="dimensions" />
    </div>

    <div v-if="reminder > 0" :class="`w-${dimensions} h-${dimensions}text-white bg-libryo-gray-400 rounded-full flex items-center justify-center ring-1 ring-white`">
      <span>+{{ remainder }}</span>
    </div>
  </div>
</template>
