$primary: #64B775;
.btn-group {
  @apply flex items-center;
}

.btn-group .btn:not(:last-child) {
  @apply border-r-0 rounded-r-none;
}
.btn-group .btn:not(:first-child) {
  @apply rounded-l-none;
}

.btn {
  @apply inline-flex items-center rounded font-semibold text-sm text-center py-1 px-2;
  @apply disabled:opacity-25 transition ease-in-out duration-150 tracking-widest;
}

.btn-outline-primary {
  @apply bg-transparent border hover:text-white focus:outline-none;
  @apply border-primary text-primary hover:bg-primary active:border-primary;
}
.btn-outline-secondary {
  @apply bg-transparent border hover:text-white focus:outline-none;
  @apply border-dark text-dark hover:bg-dark active:border-dark;
}
.btn-outline-danger {
  @apply bg-transparent border hover:text-white focus:outline-none;
  @apply border-negative text-negative hover:bg-negative active:border-negative;
}

.loader-container {
  z-index: 9;
  .loading {
    position: relative;
    width: 55px;
    height: 55px;
    display: block;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid transparent;
  }

  .loading .effect-1,
  .loading .effect-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-left: 3px solid $primary;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .loading .effect-2 {
    animation: rotateOpacity 1s ease infinite .1s;
  }

  .loading .effect-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-left: 3px solid $primary;
    animation: rotateOpacity 1s ease infinite .2s;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .loading .effect-1 {
    animation: rotate 1s ease infinite;
  }

  .loading .effects {
    transition: all .3s ease;
  }
}
