@font-face {
  font-family: 'Figtree';
  font-style: normal;
  src: url('./font-files/figtree.woff2') format('woff2-variations');
  src: url('./font-files/figtree.woff2') format('woff2') tech('variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  font-style: italic;
  src: url('./font-files/figtree-italic.woff2') format('woff2-variations');
  src: url('./font-files/figtree-italic.woff2') format('woff2') tech('variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-display: swap;
}

@font-face {
  font-family: 'Cambria';
  src: local('Cambria'), local('Cambria'), url('./font-files/Cambria.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
