
.loader-container {
  z-index: 9;
}

.loader-container .loading {
  position: relative;
  width: 55px;
  height: 55px;
  display: block;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.loader-container .loading .effect-1,
.loader-container .loading .effect-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
  border-left: 3px solid var(--primary);
  border-radius: 50%;
  box-sizing: border-box;
}

.loader-container .loading .effect-2 {
  animation: rotateOpacity 1s ease infinite .1s;
}

.loader-container .loading .effect-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateOpacity 1s ease infinite .2s;
  border-radius: 50%;
  box-sizing: border-box;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
  border-left: 3px solid var(--primary);
}

.loader-container .loading .effect-1 {
  animation: rotate 1s ease infinite;
}

.loader-container .loading .effects {
  transition: all .3s ease;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes rotateOpacity {
  0% {
    transform: rotate(0deg);
    opacity: .1;
  }

  to {
    transform: rotate(1turn);
    opacity: 1;
  }
}
